html{
    scroll-behavior: smooth;
}



body{
    font-family: 'Tinos', serif;
    margin: 0;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0 ;
}
p {
    margin: 0 0 10px;
}

/* Container */

.container{
    max-width: 1920px;
    margin: 0 166px;
}


/* HEADER */

.header{
    font-family: 'Tinos', serif;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}



.header.fixed .header__inner {
    padding-top: 15px ;
    padding-bottom: 15px;

    border-bottom: 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    border-bottom: 1px solid #515369;
}



/* NAV */

.nav__link {
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ff4655;
    text-decoration: none;
    opacity: .75;

    transform: opacity .3s linear;
}

.nav__link:hover {
    opacity: 1;
    }

.nav__link:first-child {
    margin-left: 0;
}
.nav__link:hover{
    opacity: 1;
}

/*Burger*/
.burger{
    width: 35px;
    height: 35px;
}

burger-menu{
    display: none;
}

.block{
    display: block;
    text-align: start;

}

.burger-slide{
    position: absolute;

}

button{
    border: none;
    outline: none;
    background-color:transparent;
}

.disp{
    display: none;
}



    /* Intro */

.intro {
        font-family: 'Tinos', serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 750px;
        padding-top: 100px;
        width: 100%;

        background-image: url(img/foto__2.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

.intro:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 118px;;
    background: rgba(0,0,0,.7);
    z-index: 2;
}

.intro__inner{
         width: 100%;
         max-width: 970px;
         margin: 0 auto;
         text-align: center;
}

.intro__title{
        margin: 0 0 5px;
        font-size: 90px;
        line-height: 1.9;
        color:#ff4655;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 20px;
        z-index: 3;
        position: relative;
        text-align: center;


    }

.intro__pro{
        margin-bottom: 100px;
        font-size: 29px;
        color:#009999;
        line-height: 1.5;
        margin: 0 10px;
        opacity: 1;
         z-index: 3;
        position: relative;
    }


/*container_2*/

.container__2{
    margin: 0 166px;
    font-family: 'Roboto', sans-serif;
    height: 1200px;


}


.big_2__title{

    color:#ff4655;
    font-size: 47px;
    display: flex;
    justify-content: center;
    margin-top: 116px;
}

.mini_2__title{

    color:#ff4655;
    font-size: 34px;
    display: flex;
    justify-content: center;
    margin-top:20px;

}


/*IKONKI*/

.sloi{
    margin: 100px 175px;
    display: flex;
    justify-content: center;
    height: 331px;
    color:#fff;
}

.lamba__1{
    margin-left: auto;
    text-align: center;
    margin-right: 70px;;
    background-color: #000;

}

.lamba__imge{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    background-color:#ff4655;
    border-radius: 50px;

     transition: .5s linear;
}

.lamba__imge:hover{
    background:#ff0000;
}

.lamba__img{
    margin-top: 10px;
    width: 140px;
     height: 150px;
    display: flex;

}


.lambo__title{
    font-family: 'Tinos', serif;
    font-size: 29px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

}

.lambo__text{
    font-size: 23px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}


/*Container_3*/

.container__3{
    height: 800px;
    margin: 0 120px;
}

.dishers-title{
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    text-align: center;
    color:#FFF;
    margin-bottom: 129px;
    margin-top: -80px;
}

.dishers-title span{
    color:#ff4655;
}

.cross{
    display: flex;
    justify-content: center;
}

.cross-img{
    margin-right: 50px;
    margin-left: -50px;
}

.img__omax{
    height: 474px;
    width: 811px;

}

.motor-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.mot{
    width: 55px;
    height: 55px;
}

.motred{
    width: 75px;
    height: 75px;
    z-index: 0;
    margin-left: -10px;
    margin-right: -10px;

}
.motor-text{
    font-size: 26px;
    color:#ff4655;
    margin-left: 20px;
}


/*Container_4*/

.body__img{
  margin: 0;
  background-image: linear-gradient(90deg, #000, #ff4655, #000);
  color: #ff4655;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  min-height: 90vh;

}

.card-moni{
    font-family: 'Tinos', serif;

    font-weight: 400;
    font-size: 50px;
    color:#fff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 130px;

}

.slider {
  width: 100%;
}
.slider input {
  display: none;
}
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
  overflow: hidden;
}
.testimonials .item {
  width: 450px;
  padding: 30px;
  border-radius: 5px;
  background-color: #9d2932;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  user-select: none;
  cursor: pointer;
}
.testimonials .item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 13px solid #ff4655;
}
.testimonials .item p {
  color: #ddd;
}
.testimonials .item h2 {
  font-size: 20px;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots label {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413B52;
  margin: 10px;
  transition-duration: 0.2s;

}


#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(2);
  background-color: #fff;
}
#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-5:checked ~ .testimonials label[for="t-2"] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-5"],
#t-1:checked ~ .testimonials label[for="t-4"] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}
#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4;
}


/*container_5*/

.container__5{
  margin: 0 166px;
  width: 1290px;
  height: 750px;
  display: flex;
}

.final__title{
    font-size: 25px;
    color: #fff;
    width: 592px;
    height: 72px;
    margin-bottom: 53px;
    margin-top: 93px;
}

.fill__tt{
    font-size: 22px;
    margin-top: 36px;
}
.nomera{
    max-width: 380px;
    display: flex;
}
.ner{
    margin-top: 5px;
    width: 35px;
    height: 35px;
}

.nom__1{
    margin-top: 5px;
    margin-left: 10px;
    color:#fff;
    font-size: 30px;
}

.fill__tt__2{
    font-size: 22px;
    color: #fff;
    margin-top: 36px;
}

.karta{
    padding-left: 200px;
    padding-top: 190px;

}

.final__1{
    width: 35%;
    height: 100%;
}

/*Adaptiw*/



@media (max-width: 800px) {



    .intro__title{
        font-size: 70px;
    }

    .intro__pro{
        text-align: center;
        font-size: 23px;
    }

    .img__omax{
        display: none;
    }


    }


@media (max-width: 390px){

    .container{
        max-width: 375px;
     }

    .header{
        max-width: 100%;
    }

    .burger{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;

    }

    .block__1{
        display: none;
    }

    .burger-slide{
       display: flex;
    }


    .block{
        text-align: center;
        margin: 0 10px;
        padding: 0;
        font-family: 'Tinos', serif;
        font-size: 10px;

    }

    .header__inner{
        margin-right: 250px;
        margin-left: -160px;
     }


    .intro{
        max-width: 100%;
        width:100%;
        height:350px;
        margin: 0;
        min-width: 375px;
    }


    .intro:after{
        bottom: 315px;
        width: 100%;
    }

    .intro__title{
        font-family: 'Tinos', serif;
        font-size: 30px;
        width: 380px;
    }

    .intro__pro{
        font-family: 'Tinos', serif;
        font-size: 19px;
        width: 370px;
        margin: 0;
        max-width: 370px;
        text-align: center;

    }

    .container__2{
        margin: 0px;
        max-width: 375px;
        width: 375px;
        height: 490px;

    }

    .big_2__title{
        font-family: 'Tinos', serif;
        padding-bottom: 10px;
        width: 390px;
        font-size: 29px;
        margin-top: 80px;
        width: 380px;
}

    .mini_2__title{
        font-family: 'Tinos', serif;
        margin: 0;
        text-align: center;
        width: 390px;
        font-size: 19px;
        text-align-last: center;
        max-width: 380px;
    }

    .lamba__1{
        width: 120px;
        margin: 0px;
        height: 140px;
    }

    .lamba__imge{

       width: 90px;
       height: 90px;
       margin-top: 20px;
       margin-left: 20px;
       margin-bottom: -10px;
       border-radius: 10px;

    }

     .lamba__img{

       width: 90%;
       height: 100px;
       padding-bottom: 30px;
       padding-top: -30px;
      }

    .lambo__title{
        font-family: 'Tinos', serif;
        font-size: 16px;
    }


    .sloi{
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 390px;
        width: 380px;
        height: 150px;

    }




    .container__3{
        height: 590px;

   }


    .dishers-title{
        width: 190px;
        max-width: 390px;
        text-align: center;
        margin-top:50px;
        margin-bottom: 10px;
        padding-right: 50px;
        font-size: 29px;
        font-family: 'Tinos', serif;
    }

    .cross{
        margin-top: 45px;
    }

    .body__img{
        height: 300px;
        background-image: linear-gradient( 90deg, #ff4655,#ff0000, #ff4655);
    }

    .container__4{
        width:100%;
        height:auto;
    }


    .card-moni{
        font-size: 29px;
        margin-bottom: 80px;
    }

    .slider{
        width: 100%;
    }

    .testimonials{
        width: 370px;
        margin-left: 5px;
        perspective: 100px;
        min-height: 250px;
    }

    .testimonials .item{
        width: 200px;
        padding: 20px;
        height: 150px;

    }

    .testimonials .item {
        font-size: 16px;
        font-weight: 300;

    }

    .testimonials .item img {
        width: 100px;
        height: 100px;
    }

    .motor{
        width: 250px;
        margin: 22px 0px;
    }

    .mot{
        width: 28px;
        height: 28px;
    }

    .motor-text{
        margin-left: 10px;
        font-family: 'Tinos', serif;
        font-size: 22px;
    }

    .motor-text:hover{
        color:#009999;

    }

    .container__5{
        display: block;
        height: 550px;
        width: 310px;
        max-width: 310px;
        margin: 0;


    }

    .fill__bt{
        text-align: center;
        max-width: 320px;
        width: 320px;
        font-size: 29px;
        margin-bottom: 60px;
    }

    .final__tt__2{
       margin-bottom: 15px;
    }

    .final__title{
        margin-top: 20px;
        max-width: 340x;
        width: 280px;
      }

    .final__1{
       margin-top: 50px;
       margin-left: 20px;
       width: 100%;
       max-width: 330px;
    }

    .ner{
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .nomera{
        width: 190px;
    }

    .nom__1{
        text-decoration: none;
        margin-top: 23px;
        width:150px;
        font-size: 16px;
    }

   .final__2{
       display: none;
       padding: 0;
       margin-bottom: 15px;
    }

    .map-widget-business-content-view{
        width: 150px;
        height: 50px;
    }

    .karta{
        padding-left: 0px;
        padding-top: 130px;
        width: 390px;
    }

    .canvar{
        width:100%;
        max-width: 390px;
        height:auto;
      }


}











