body{
    margin: 0;

    font-family: 'Tinos', serif;
    font-size: 14px;
    color:#000;

    background-color:#000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p{
    margin: 0 0 10px;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;

    border-bottom: 1px solid #ff4655;
}

.logotip{
    width: 200px;
    height: 40px;
}
.nav{
    margin: 14px 0 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

}


.nav__link{
  margin: 0 30px;
  color:#fff;
  text-decoration: none;

  transition: color .4s linear;
}

.nav__link:hover{
    color:#ff4655;
}


.intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 750px;
        padding-top: 100px;
        width: 100%;
        opacity: 0.7;


        background: url("img__block_2/bolt.jfif")  center no-repeat;
}

.intro__inner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

    .intro__title{
        margin: 0 0 5px;
        font-family: 'Open Sans',
        sans-serif;
        font-size: 65px;
        line-height: 1.9;
        color: rgb(255, 48, 64);
        font-weight: 700;
        text-transform: uppercase;

    }
    .intro__pro{
        margin-bottom: 50px;
        font-size: 27px;
        color:rgb(255, 48, 64);
        line-height: 1.5;

    }



.works{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.works__item{

    width: 25%;
    height: 350px;

    border-bottom: 1px solid #000;
    border-right: 1px solid #000;

    position: relative;
    overflow: hidden;

}


.works__photo{
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9);
    opacity: 0;

    position: absolute;
   top: 0;
   left: 0;
   z-index: 2;

   transition: opacity .2s linear;
}


.works__title{
    margin: 0px 0px 12px 0px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works__text{


    font-size: 16px;
    color: #fff;

}


@media (max-width: 1300px){
   .works__item{
       width: 50%;
   }



@media (max-width: 767px) {
   .container{
       width: 100%;
   }

    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title{
        font-size: 30px;
    }

    .intro__subtitle{
        margin-bottom: 30px;
        font-size: 16px;
    }


    /* Features */
    .features{
        margin: 40px 0;
    }
    .features__item{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
     }

     .works__item{
         width: 100%;
     }
    /*Team*/
    .team{
        margin: 60px 0 30px;
    }
     .old__item{
         width: 100%;
     }

     /*Bth*/
     .wersus--old{
         min-width: 260px;
     }

     .download{
         margin: 50px 0;
     }

     .download__title{
         font-size: 24px;
     }

      /*Foother*/
     .old__inner{
         padding: 30px 0;
     }

      .old__block{
          padding-left: 0;
          padding-right: 0;
          width: 100%;
          margin-bottom: 30px;
      }
}







